/* styles/Home.module.css */

.heroContainer {
  width: 100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 750px; /* ★ 高さを 750px に戻します */
  overflow: hidden;
  margin-top: 60px; 
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}